:root {
    --primary-color: #efefef;
    --primary-font: 'Avenir Next';
    --primary-font-color: #080a3c;
    --secondary-font-color: #8b8d9e;
    --primary-font-size: 11px;
    --solarized-red: #dc322f;
    --solarized-blue: #268bd2;
    --dartmouth-green: #00693E;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: var(--primary-font-size);
    color: var(--primary-font-color);
}

body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 0px) and (max-width: 600px) {

    .non-mobile {
        display: none;
    }

    .container-non-mobile {
        display: none;
    }

    .nav-container-mobile {
        display: flex;
        flex-direction: row;
        position: static;
    }

    .content-mobile {
        flex-grow: 1;
        overflow-y: auto;
    }

    .index-content {
        margin: 2.5vw 2.5vw 2.5vh 2.5vw;
    }

    .nav-item {
        flex-grow: 1;
        flex-basis: 0;
        height: 6em;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
        border: 0.25px solid var(--primary-color);
        text-decoration: none;
        color: var(--secondary-font-color);
    }

    .nav-item.active {
        background-color: var(--primary-color);
    }

    .nav-item.active,
    .nav-item:hover {
        cursor: pointer;
        color: var(--primary-font-color);
    }

    .projects-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2.5vw 2.5vw 2.5vh 2.5vw;
    }

    .projects-img-container {
        align-self: center;
        display: flex;
        align-items: center;
        width: 95vw;
        height: 30vw;
        overflow: hidden;
        border: 0.50px solid var(--primary-font-color);
    }

    .projects-title {
        font-weight: 500;
        font-size: 2em;
        align-self: flex-start;
        margin: 2.5vw 0 0 0;
    }

    .projects-date {
        font-size: 1.25em;
        align-self: flex-start;
        color: var(--secondary-font-color);
    }

    .projects-desc {
        font-size: 1.15em;
        align-self: flex-start;
        margin: 1vw 0 0 0;
        padding: 0 0 3vw 0;
        border-bottom: 0.75px solid var(--primary-font-color);
    }

    .resume-item {
        display: flex;
        flex-direction: column;
        margin: 2.5vw 2.5vw 2.5vh 2.5vw;
    }

    .resume-item-title {
        font-size: 2.5em;
        color: var(--solarized-red);
        border-bottom: 3px solid var(--solarized-red);
        font-weight: 500;
    }

    .resume-item-content-wrapper {
        display: flex;
        flex-direction: row;
        margin: 1em 0 0 0;
    }

    .resume-item-left {
        width: 25%;
    }

    .resume-item-right {
        flex-grow: 1;
    }

    .resume-item-right-title,
    .resume-item-skills-title {
        font-size: 1.25em;
        font-weight: 500;
    }

    .resume-item-right-subtitle {
        font-size: 1em;
        font-weight: 400;
        font-style: italic;
    }

    .resume-item-right-content {
        margin: 0.25em 0 0 0;
        font-size: 1em;
        font-weight: 400;
    }

    .resume-item-skills-wrapper {
        margin: 1em 0 0 0;
    }

    .resume-item-skills-content {
        margin: 0.25em 0 0 0;
    }

    .contact-wrapper {
        margin: 2.5vw 2.5vw 2.5vh 2.5vw;
    }

    .contact-title {
        font-size: 2em;
        font-weight: 500;
        border-bottom: 0.75px solid var(--primary-font-color);
    }

    .contact-info {
        margin: 1em 0 0 0;
        font-size: 1.25em;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    input,
    textarea {
        margin: 1em 0 0 0;
        background: #fff;
        border: 0;
        border: 1px solid #fff;
        border-radius: .1875em;
        padding: .75em .75em;
        font-family: inherit;
        font-size: 1.15em;
    }

    textarea {
        min-height: 12em;
        resize: none
    }

    button {
        cursor: pointer;
        border: 0;
        border-radius: .1875em;
        font-size: 1.25em;
        padding: .6em 2em;
        margin: 0;
        text-align: center;
        font-weight: 300;
        text-decoration: none;
        background: #8b8d9e;
        color: #efefef
    }

    button:hover {
        background: #9193a3
    }

    button.slim {
        margin: 1em 0 0 0;
        padding-left: 1em;
        padding-right: 1em
    }

    button:hover {
        text-decoration: none
    }

    .about-item {
        margin: 2.5vw 2.5vw 2.5vh 2.5vw;
    }

    .about-title {
        font-size: 2em;
        font-weight: 500;
        border-bottom: 0.75px solid var(--primary-font-color);
    }

    .about-content {
        margin: 1em 0 1em 0;
        font-size: 1.50em;
    }

    .index-title {
        font-size: 2.5em;
        font-weight: 500;
        color: var(--primary-font-color);
    }

    .index-title-first {
        font-size: 1.25em;
        font-weight: 500;
    }
}

@media screen and (min-width: 601px) {

    .nav-container-mobile {
        display: none;
    }

    .content-mobile {
        display: none;
    }

    .container-non-mobile {
        margin: 30px;
        display: flex;
        flex-direction: row;
        overflow-y: scroll;
    }

    .nav-container-non-mobile {
        display: flex;
        flex-direction: column;
        width: 150px;
        height: 100%;
    }

    .content-non-mobile {
        flex-grow: 1;
        overflow-y: scroll;
        max-width: 600px;
        padding: 0 25px 25px 25px;
    }

    .nav-container {
        display: flex;
        flex-direction: column;
        width: 150px;
    }

    .dnl-logo {
        width: 75px;
        height: 50px;
        cursor: pointer;
        margin: 0 0 50px 0;
    }

    .nav-item {
        display: flex;
        flex-direction: row;
        margin: 1em 0 0 0;
    }

    .nav-item-link {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 2px;
        text-decoration: none;
        color: var(--secondary-font-color);
    }

    .nav-item-link:hover {
        color: var(--primary-font-color);
    }

    .content {
        flex-grow: 1;
        max-width: 600px;
    }

    .content-title {
        font-size: 3em;
        font-weight: 500;
        margin: 0 0 50px 0;
    }

    .content-title-first {
        font-size: 1.25em;
    }

    .content-title-subtitle {
        margin: 0 0 0 1em;
        font-size: 0.75em;
        font-weight: 400;
        letter-spacing: 2px;
        color: var(--dartmouth-green);
        text-transform: uppercase;
    }

    .project-container {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid var(--primary-font-color);
        margin: 0 0 25px 0;
        padding: 0 0 25px 0;
    }

    .project-img-container {
        display: flex;
        width: 125px;
        height: 125px;
        overflow: hidden;
        border-radius: 5px;
    }

    .project-img-container-large {
        margin: 2em 0 2em 0;
        display: flex;
        width: auto;
        height: auto;
        overflow: hidden;
        border-radius: 5px;
    }

    .project-img-container-large:hover {
        box-shadow: 2px 2px 18px var(--dartmouth-green);
        cursor: pointer;
    }

    .project-img-container:hover {
        box-shadow: 2px 2px 18px var(--dartmouth-green);
        cursor: pointer;
    }

    .project-info-container {
        max-width: 500px;
        margin: 0 0 0 25px;
    }

    .project-info-title {
        font-weight: 500;
        font-size: 3em;
    }

    .project-info-date {
        margin: 0 0 0 1em;
        font-size: 0.65em;
        font-weight: 400;
        color: var(--secondary-font-color);
        text-transform: uppercase;
    }

    .project-info-desc {
        margin: 2em 0 0 0;
        font-size: 1.25em;
    }

    .about-container {
        margin: 3em 0 0 0;
    }

    .about-title {
        font-weight: 500;
        font-size: 1.5em;
        text-transform: uppercase;
    }

    .about-item {
        margin: 0.50em 0 1.50em 0;
        font-size: 1.25em;
    }

    .project-indv-header {
        font-size: 1.50em;
        margin: 0 0 1em 0;
    }

    .project-indv-header-title {
        text-transform: uppercase;
        font-weight: 600;
    }

    .project-link {
        font-size: 1.25em;
        font-weight: 500;
    }

    .project-link-link {
        text-decoration: none;
        font-weight: 400;
        color: var(--secondary-font-color);
        margin: 0 0 0 1em;
    }

    .project-link-link:hover {
        color: var(--dartmouth-green);
    }

    .project-indv-container {
        margin: 0 0 2em 0;
    }

    .project-indv-desc-container {
        margin: 0.50em 0 0 0;
    }

    .project-indv-title {
        font-weight: 500;
        font-size: 1.50em;
        text-transform: uppercase;
        margin: 0 0 0 0;
    }

    .project-indv-desc {
        font-size: 1.25em;
        margin: 0 0 1em 0;
    }
}