:root {
    --primary-color: #fdf6e3;
    --primary-font: 'Roboto', sans-serif;
    --primary-font-color: #586e75;
    --primary-font-size: 20px;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: var(--primary-font-size);
    color: var(--primary-font-color);
}

.container-site {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.container-left {
    background-color: #eee8d5;
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 50px;
    /* z-index: 1; */
}

.container-left-title-container {
    display: flex;
    flex-direction: row;
    margin: 0 0 2em 0;
    cursor: pointer;
}

.container-left-title {
    flex-shrink: 1;
    font-size: 24px;
    font-weight: 700;
    z-index: 100;
}

.container-left-item-container {
    display: flex;
    flex-direction: row;
    margin: 0 0 1.50em 0;
    font-size: 18px;
}

.container-left-item {
    flex-shrink: 1;
    cursor: pointer;
    z-index: 100;
}

.container-right {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.container-right-home,
.container-right-project,
.containter-right-resume,
.container-right-contact {
    display: flex;
    flex-direction: column;
}

.container-right-project-container,
.container-right-resume-container,
.container-right-contact-container {
    display: none;
}

.container-left-hover {
    position: absolute;
    background-color: #2aa198;
    opacity: 0.40;
}